@page "/"
@using SkillSnap.Client.Models
@using SkillSnap.Client.Pages
@using SkillSnap.Client.Services

@using SkillSnap.Client.Pages.PortfolioUsers
@using SkillSnap.Client.Pages.Projects
@using SkillSnap.Client.Pages.Skills
@inject PortfolioUserService PortfolioUserService

<PageTitle>SkillSnap - Portfolio Showcase</PageTitle>

<div class="hero-section">
    <img src="https://picsum.photos/1200/400?random=1" alt="Portfolio showcase" class="hero-image" />
    <div class="hero-content">
        <h1>Welcome to SkillSnap!</h1>
        <p>Discover amazing portfolios and showcase your skills.</p>
    </div>
</div>

<h2>Featured Portfolio</h2>

@if (mainPortfolio == null)
{
    <div class="loading">
        <p>Loading portfolio...</p>
    </div>
}
else
{
    <ProfileCard User="@mainPortfolio" />

    <div style="margin-top: 2rem;">
        <SkillTags PortfolioId="@mainPortfolio.Id" Title="Technical Skills" ShowLevel="true" Clickable="true" />
    </div>

    <div style="margin-top: 3rem;">
        <ProjectList PortfolioId="@mainPortfolio.Id" />
    </div>
}

@code {
    public PortfolioUser? mainPortfolio;
    protected override async Task OnInitializedAsync()
    {
        mainPortfolio = await PortfolioUserService.GetFirstPortfolioUserAsync();
    }
}
